<!-- BEGIN PAGE HEADER-->
<div class="center-text">
  <div class="front-page-img" alt="Dog on the sidewalk">
    <h1>
      <i class="fa fa-paw" aria-hidden="true"></i>Adopt your pet here!<i class="fa fa-paw" aria-hidden="true"></i>
    </h1>
  </div>
</div>
<!-- END PAGE HEADER-->

<div class="center-text row">
  <div class="project-description">
    <p>Adopt is a project focused in helping homeless pets find someone!</p>
    <p>If you are searching for your other furry half or found a pet in distress but can't look after it, this is the place for you!</p>
  </div>
  <div class="body-main-content">
    <div class="span6">
      <h2>Lorem</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="span4">
      <img src="/images/cat-and-dog.jpg" alt="A cat and a dog" class="side-image"/>
    </div>
  </div>
</div>
