<!-- BEGIN PAGE HEADER-->
<div class="top-section center-text">
  <h1>
    Adopt your pet here!
  </h1>
</div>
<!-- END PAGE HEADER-->

<div class="center-text">
  <p>Adopt is a project focused in helping homeless pets find someone!</p>
  <p>If you are searching for your other furry half or found a pet in distress but can't look after it, this is the place for you!</p>
  <div class="front-page-img" alt="Dog on the grass"></div>
  <div class="" style="height: 700px;">
  </div>
</div>
