<!-- BEGIN PAGE HEADER-->
<div class="top-section center-text">
  <h1>
    Add a new pet for adoption
  </h1>
</div>
<!-- END PAGE HEADER-->

<div class="center-text center-alignment">
  <%= form_for :pet, url: { action: "create" } do |f| %>
    <%= render 'shared/error_messages', object: @pet %>
    <%= render partial: "form", locals: { f: f } %>
    <%= f.button "Save", id: "create-pet-btn", class: "btn" %>
  <% end %>
</div>
