<!-- BEGIN PAGE HEADER-->
<div class="top-section center-text">
  <h1>
    List of users
  </h1>
</div>
<!-- END PAGE HEADER-->

<% @users.each do |u| %>
  <div class="users-list">
    <div class="user-card">
      <h2><%= u.name %></h2>
      <p class="item"><strong>Contact</strong>: <%= u.email %></p>
      <p class="item"><strong>Location</strong>: <%= u.location %></p>
      <p class="item"><strong>About</strong>: <%= u.about %></p>
    </div>
  </div>
<% end %>
<% if @users.blank? %>
  <p>Nenhum usuário</p>
<% end %>
