@import "colors";

.card-component {
  cursor: pointer;
  margin: 1.5em 2.5em;
  width: 300px;
  transition: 0.3s;
  overflow: hidden;
  background: $card_background_color;

  &.pet {
    padding: 0;
    height: 420px;
  }
  &.user {
    padding: 10px;
    height: 220px;
  }

  h2 {
    margin-bottom: 0;
  }
  a {
    text-decoration: none;
  }
  &.adopted-true:hover {
    box-shadow: 0 4px 8px 0 $adopted_box_shadow;
  }
  &:hover, &:focus, &:active {
    color: $menu_font_color;
    box-shadow: 0 8px 16px 0 $regular_box_shadow;
    a {
      color: $menu_font_color;
    }
  }
  .card-title {
    padding: 2px 16px;
    display: flex;
    float: left;
  }
  .card-name {
    width: 250px;
  }
  .card-edit {
    width: 50px;
  }
  .card-frame {
    width: 15em;
    height: 15em;
    background: transparent no-repeat center;
    background-size: cover;
    display: block;
    padding: 0;
    .card-img {
      height: 15em;
      width: auto;
    }
  }
  .card-info {
    margin: 0 15px;
  }
  .item {
    padding-left: 15px;
  }

}
