/* Color palette set to https://coolors.co/2e382e-50c9ce-72a1e5-9883e5-fcd3de */

// MAIN COLORS
$main_background_color: #50C9CE;
$background_color: #f4f4f4;
$background_color_optional: #FCD3DE;
$body_font_color: #72A1E5;
$body_font_color_optional: #9883E5;
$menu_font_color: #f4f4f4;
$header_font_color: #3c3b3b;
$border_color: #f4f4f4;

// BUTTON COLORS
$button_background_color: #9883E5;
$button_font_color: #f4f4f4;

// INPUT COLORS
$disabled_font_color: #f2f2f2;
$disabled_background_color: #ccc;
$label_color: #3c3b3b;

// ALERT & NOTIFICATION COLORS
$success_color: #3c763d;
$success_background: #dff0d8;
$success_border: #d6e9c6;
$success_link_color: #2b542c;
$info_color: #31708f;
$info_background: #d9edf7;
$info_border: #bce8f1;
$info_link_color: #245269;
$alert_color: #8a6d3b;
$alert_background: #fcf8e3;
$alert_border: #faebcc;
$alert_link_color: #66512c;
$error_color: #a94442;
$error_background: #f2dede;
$error_border: #ebccd1;
$error_link_color: #843534;
