$success_color: #3c763d;
$success_background: #dff0d8;
$success_border: #d6e9c6;
$success_link_color: #2b542c;
$info_color: #31708f;
$info_background: #d9edf7;
$info_border: #bce8f1;
$info_link_color: #245269;
$alert_color: #8a6d3b;
$alert_background: #fcf8e3;
$alert_border: #faebcc;
$alert_link_color: #66512c;
$error_color: #a94442;
$error_background: #f2dede;
$error_border: #ebccd1;
$error_link_color: #843534;
