/* Color palette set to https://coolors.co/2e382e-50c9ce-0199d9-9883e5-f4f4f4 */

// MAIN COLORS
$main_background_color: #50C9CE;
$background_color: #f4f4f4;
$body_font_color: #0199d9;
$body_font_color_optional: #9883E5;
$menu_font_color: #fff;
$header_font_color: #3c3b3b;
$border_color: #0199d9;

// BUTTON COLORS
$button_background_color: #9883E5;
$button_font_color: #f4f4f4;

// INPUT COLORS
$disabled_font_color: #f2f2f2;
$disabled_background_color: #ccc;
$label_color: #3c3b3b;

// ALERT & NOTIFICATION COLORS
$success_color: #34c1c7;
$success_background: #c8e9ea;
$success_border: #c8e9ea;
$success_link_color: #2b542c;
$info_color: #31708f;
$info_background: #d9edf7;
$info_border: #bce8f1;
$info_link_color: #245269;
$alert_color: #8a6d3b;
$alert_background: #fcf8e3;
$alert_border: #faebcc;
$alert_link_color: #66512c;
$error_color: #c75062;
$error_background: #f2dede;
$error_border: #ebccd1;
$error_link_color: #843534;

// TEXT SHADOW COLOR
$text_shadow_color: #0199d9;
$text_shadow_hover_color: #a4e8ea;

// CARD COLOR
$card_background_color: #fff;
$card_background_color_hover: #0199d9;

// PET card-img
$regular_box_shadow: rgba(0,0,0,0.2);
$adopted_box_shadow: rgba(34,189,224,0.5);
