@import "colors";

$header_font: "Raleway", Helvetica, sans-serif;
$body_font: "Source Sans Pro", Helvetica, sans-serif;

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, img, small, strike, strong, i, ol, ul, li, form, label, table, tbody, tfoot, thead, tr, th, td, article, footer, header, menu, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

header, footer, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  width: 100%;
  padding-top: 4.5em;
}

ol, ul {
  list-style: none;
}

body {
  background: $background_color;
}

body, input, select, textarea {
  color: $body_font_color;
  font-family: $body_font;
  font-size: 14pt;
  font-weight: 400;
  line-height: 1.75;
}

h1, h2, h3 {
  font-family: $header_font;
  font-weight: 800;
  letter-spacing: 0.25em;
  line-height: 1.65;
  margin-bottom: 0.6em;
  text-transform: uppercase;
  a {
    color: inherit;
    border-bottom: 0;
  }
}

h1 {
  font-size: 14pt;
}
h2 {
  font-size: 12pt;
}
h3 {
  font-size: 10pt;
}

/* FORMS */

form {
  margin: 0 0 2em 0;

  input:disabled, textarea:disabled {
    color: $disabled_font_color;
    background-color: $disabled_background_color;
    cursor: not-allowed;
  }
}

label {
  display: block;
  font-size: 0.9em;
  font-weight: 700;
  margin: 1em 0 0 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
select:invalid,
textarea:invalid {
  box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
  border: solid 1.5px $border_color;
}

/* HEADER */
.logo-header {
  float: left;
  clear: none;
  overflow: visible;
  margin: auto;
}

.left-header {
  margin-left: 0.8em;
  float: left;
  clear: none;
  width: 43.5%;
}

.right-header {
  margin-left: 1em;
  float: left;
  clear: none;
  width: 43.5%;
}

#header {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  background-color: $main_background_color;
  color: $menu_font_color;
  font-size: 15pt;
  height: 4.2em;
  line-height: 4.2em;
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;

  a {
    color: inherit;
    text-decoration: none;
  }

  ul li {
    display: inline-block;
    border-bottom: 0;
    font-size: 0.7em;
    font-weight: 400;
    letter-spacing: 0.25em;
    text-transform: uppercase;
  }

  .links {
    -moz-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 1.5em;
    ul li {
      margin-left: 1.3em;
      padding-left: 1em;
      &:first-child {
        border-left: 0;
        margin-left: 0;
        padding-left: 0;
      }
    }
  }
}

/* MAIN */
#main {
  width: 100%;
}

/* FOOTER */
#footer {
 position: fixed;
 bottom: 0;
 padding: 5px 10px 0 0;
 width: 100%;
 background: $main_background_color;
 color: $menu_font_color;
 font-size: 8pt;
 text-transform: uppercase;
 letter-spacing: 0.2em;
 font-weight: 800;
 text-align: right;
 a {
   color: $body_font_color;
   text-decoration: none;
 }
 p {
   padding-right: 100px;
   margin-right: 100px;
 }
}

/* BUTTONS */
.btn {
  margin: 10px 0;
  padding: 10px;
  font-family: $header_font;
  font-size: 11pt;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  color: $button_font_color;
  background-color: $button_background_color;
  box-shadow: none;
  &:hover {
    background-color: $background_color_optional;
  }
}

/* ALERTS AND NOTIFICATIONS */
.alert {
  padding: 7px 15px;
  margin: 0 15px 10px 15px;
  border: 1px solid transparent;
  border-radius: 6px;
  font-family: $header_font;
  font-size: 14px;

  &.alert-success {
    color: $success_color;
    background-color: $success_background;
    border-color: $success_border;
    &.alert-link {
      color: $success_link_color;
    }
  }

  &.alert-info {
    color: $info_color;
    background-color: $info_background;
    border-color: $info_border;
    &.alert-link {
      color: $info_link_color;
    }
  }

  &.alert-warning {
    color: $alert_color;
    background-color: $alert_background;
    border-color: $alert_border;
    &.alert-link {
      color: $alert_link_color;
    }
  }

  &.alert-error {
    color: $error_color;
    background-color: $error_background;
    border-color: $error_border;
    &.alert-link {
      color: $error_link_color;
    }
  }

  &.alert-link {
    font-weight: bold;
  }
}

/* SHADOW EFFECT */
.long-shadow {
  overflow: hidden;
  text-shadow: $text_shadow_color 1px 1px,
  $text_shadow_color 2px 2px,
  $text_shadow_color 3px 3px,
  $text_shadow_color 4px 4px,
  $text_shadow_color 5px 5px,
  $text_shadow_color 6px 6px,
  $text_shadow_color 7px 7px,
  $text_shadow_color 8px 8px,
  $text_shadow_color 9px 9px,
  $text_shadow_color 10px 10px,
  $text_shadow_color 11px 11px,
  $text_shadow_color 12px 12px,
  $text_shadow_color 13px 13px,
  $text_shadow_color 14px 14px,
  $text_shadow_color 15px 15px,
  $text_shadow_color 16px 16px,
  $text_shadow_color 17px 17px,
  $text_shadow_color 18px 18px,
  $text_shadow_color 19px 19px,
  $text_shadow_color 20px 20px,
  $text_shadow_color 21px 21px,
  $text_shadow_color 22px 22px,
  $text_shadow_color 23px 23px,
  $text_shadow_color 24px 24px,
  $text_shadow_color 25px 25px,
  $text_shadow_color 26px 26px,
  $text_shadow_color 27px 27px,
  $text_shadow_color 28px 28px,
  $text_shadow_color 29px 29px,
  $text_shadow_color 30px 30px,
  $text_shadow_color 31px 31px,
  $text_shadow_color 32px 32px,
  $text_shadow_color 33px 33px,
  $text_shadow_color 34px 34px,
  $text_shadow_color 35px 35px,
  $text_shadow_color 36px 36px,
  $text_shadow_color 37px 37px,
  $text_shadow_color 38px 38px,
  $text_shadow_color 39px 39px,
  $text_shadow_color 40px 40px,
  $text_shadow_color 41px 41px,
  $text_shadow_color 42px 42px;
}

.center-text {
  text-align: center;
  clear: both;
}

.center-alignment {
  width: 100%;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.content {
  margin-top: 1em;
}
