@import "colors";

.front-page-img {
  width: 100%;
  height: 30em;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: $background_color;
  background-image: image-url("/images/asphalt-dog.jpg");
  margin-bottom: 10px;
  h1 {
    padding-top: 1.5em;
  }
}

@media screen and (max-width: 1024px) {
  .front-page-img {
    background-repeat: no-repeat;
    background-size: 1200px;
  }
}

.side-image {
  overflow: hidden;
  display: flex;
  margin: 1em;
  border-radius: 5%;
  max-width: 90%;
  height: auto;
}

.pet-show-image {
  height: 15em;
  width: auto;
}
