@import "colors";

.pet-card {
  cursor: pointer;
  margin: 1.5em 2.5em;
  height: 420px;
  width: 300px;
  box-shadow: 0 4px 8px 0 $regular_box_shadow;
  transition: 0.3s;
  overflow: hidden;
  padding: 0;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;

  h2 {
    margin-bottom: 0;
  }
  a {
    text-decoration: none;
  }
  &.adopted-true {
    box-shadow: 0 4px 8px 0 $adopted_box_shadow;
  }
  &:hover, &:focus, &:active {
    color: $menu_font_color;
    box-shadow: 0 8px 16px 0 $regular_box_shadow;
  }
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $main_background_color;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  &:hover:before, &:focus:before, &:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  .pet-card-bottom {
    padding: 2px 16px;
    display: flex;
    float: left;
    .pet-title {
      width: 250px;
    }
    .pet-edit {
      width: 50px;
    }
  }
  .card-frame {
    width: 15em;
    height: 15em;
    background: transparent no-repeat center;
    background-size: cover;
    display: block;
    .card-img {
      height: 15em;
      width: auto;
    }
  }
  .pet-info {
    margin: 0 15px;
  }

}
